
body {
    background-color: #26252A; 
    color: #C8AD82; 
}


h1 {
    text-align: center; 
    font-size: 50px;
}


h2 {
    color: #C8AD82;
}


.column {
    width: 20%; 
    float: left;
    text-align: center; 
    margin-bottom: 20px; 
    padding-right: 1%;
    box-sizing: border-box;
}

.column img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 5px; 
}
